.btn-cadet{
    font-weight: bolder;
    font-size: 1.2rem;
    color: white;
    background: $get-started;
    padding:1rem 3rem;
    border-radius: 1rem;
    text-decoration:none;
    text-transform: capitalize;
     border: .3rem solid $border;
     box-shadow: 0 .5rem 2rem #00000048;
     line-height: auto;

     @media (min-width:$tablet) {
        padding: 1rem .1rem;
        width: 100px;
      
    }
}

.btn-text{
    color: black;
    font-size: 2rem;
    text-transform: capitalize;
    box-shadow: 0 .5rem 2rem #00000048;
    padding: 1rem;
    text-decoration: none;
    font-weight: bold;
}
.btn-brown{
    font-weight: bolder;
    color: white;
    font-size: 1.4rem;
    background: $btn-hire;
    padding:1rem 5rem;
    border-radius: 1rem;
    text-decoration:none;
    text-transform: capitalize;
    border: .3rem solid $border;
     box-shadow: 0 .5rem 2rem #00000048;
}
.btn-blue{
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.4rem;
    text-transform: capitalize;
    padding: 1rem 3rem;
    background: blue;
    color: white;
    border-radius: 1rem;

    @media (min-width:$ipad) {
        padding: 1rem;
    }
}
.btn-orange{
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.4rem;
    text-transform: capitalize;
    padding: 1rem 4rem;
    background: orangered;
    color: white;
    border-radius: 1rem;
    @media (min-width:$ipad) {
        padding: 1rem 4rem;
    }
}

