.about{
  height: fit-content;
  padding: 6rem 0;
  background: $profile-layer-2;
  display: grid;
  grid-template-rows:1fr 50vh 1fr;

@media (min-width:$ipad) {
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
}
  &__title{
place-self:center ;

h1{
@include heading-before;
@include heading-after;
}
}
  &__picture{
      background: transparent;
      
      padding: 5rem;
      @media (min-width:$ipad) {
       padding: 2rem;
      }
      img{
 
        border-radius:1rem ;
             width: 100%;
          height: 100%;
          @media (min-width:$ipad) {
            border-radius: .2rem;
            transform: skew(-6deg);
           }
          
      }
  }
  &__description{
    background: $profile-layer-3;
    box-shadow: $shadow;
    margin: 2rem;
    p{
        
        padding: 5rem;
        
    }
}
}